@import 'mixins';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600i,700,800);

/* variables */
$body-font: 'Open Sans', sans-serif;
$charcoal: #2E4057;
$steel-teal: #628395;

* {
  padding: 0;
  margin: 0;
  font-family: $body-font;
}

html, .viewport{
  width: 100%;
  height: 100%;
  margin: 0;
 }

body {
  height: 100%;
  width: 100%;
  display: flex;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #fff;
}

.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex: 1;
  height: 100%;
  justify-content: center;
}

#left, #right {
  flex: 1 0 0;
  height: 100%;
}

#left {
  background-color: $charcoal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  img {
    width: auto;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    width: 256px;
    padding: 5px 0px;
    text-align: center;
    margin-top: 10px;
    color: $charcoal;
    background-color: #fff;
  }

  a:hover {
    background-color: $steel-teal;
  }
}

#right {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  color: $charcoal;
  padding: 0px 50px;

  #name {
    font-weight: 800;
    @include font-size(36px);
  }

  p {
    @include font-size(20px);
  }

  a {
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
    color: $steel-teal;
    @include transition(color .8s ease);
  }

  a:hover {
    color: $charcoal;
    @include transition(color .8s ease);
  }

  .button {
    margin-top: 10px;
    a {
      background-color: $steel-teal;
      font-style: normal;
      padding: 5px 15px;
      color: #fff;
    }
  }
}

@media (max-width:800px) {
  .container {
      -webkit-flex-flow: column nowrap;
  }

  #left {
    padding: 150px;
  }

  #right {
    align-items: center;
    text-align: center;
  }

}
